extends ../../components/base/base

block content
    .container
        .wrapper
            .column_left.logo
                .logo__circle
                .logo__circle_border
                .logo__title
                    h3 Reduslim
                    h3 ECO
                .logo__img
                    img(src=require('../../assets/images/logo.png').default)


            .column_right.form
                .form__title
                    h1.title__large Сделай шаг <br>к выздоровлению
                    h1.title__small Сделай шаг к выздоровлению
                form.form__wrapper
                    .input
                        .input__title
                            p= "ваше "
                                span.text_green имя
                        .input__wrapper
                            input.input__element(type="text" value="Алексей")

                    .input
                        .input__title
                            p= "ваш "
                                span.text_green телефон
                        .input__grid
                            input.input__element(type="text" value="+7 (123) 456 78-90")
                            .input__dropdown
                                input.input__element(type="button" value="RU")

                    .button
                        .button__arrow_right
                            input.button__element(type="button" value="Заказать")

            .secure
                span Trusted
                span.lock
                span Secure