$green: #428A60;
$green-dark: #35734F;
$white-light: rgba(#fff, .03);
$green-gradient: linear-gradient(to bottom, $green, $green-dark);

$text: #212121;
$container: #F4F4F4;
$background: #f8f8f8;
$border: rgba(#b4b4b4, .2);;